# Customization
*.meta
*.csproj

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
source/LeapUnitySDK2/Library/
source/LeapUnitySDK2/Assets/Plugins/
source/LeapUnitySDK2/Assets/LeapMotion+OVR/
#source/LeapUnitySDK2/Assets/LeapMotion/
source/LeapUnitySDK2/ProjectSettings/
source/LeapUnitySDK2/Assets/Gizmos/
source/LeapUnitySDK2/Assets/OVR/
source/LeapUnitySDK2/Assets/OVR/Editor/OVRBuild.cs
source/LeapUnitySDK2/Assets/OVR/Editor/OVRGameView.cs
source/LeapUnitySDK2/Assets/OVR/Editor/OVRPrefabs.cs
source/LeapUnitySDK2/Assets/OVR/Editor/OVRShimLoader.cs
source/LeapUnitySDK2/Assets/OVR/Materials/CubeMaterial.mat
source/LeapUnitySDK2/Assets/OVR/Materials/GUIHUD.mat
source/LeapUnitySDK2/Assets/OVR/Materials/MagHUDRef.mat
source/LeapUnitySDK2/Assets/OVR/Materials/MagHUDTracked.mat
source/LeapUnitySDK2/Assets/OVR/Materials/TextShader3D.mat
source/LeapUnitySDK2/Assets/OVR/Prefabs/OVRCameraRig.prefab
source/LeapUnitySDK2/Assets/OVR/Prefabs/OVRPlayerController.prefab
source/LeapUnitySDK2/Assets/OVR/Resources/DINPro-Bold.otf
source/LeapUnitySDK2/Assets/OVR/Resources/OVRGuiObjectMain.prefab
source/LeapUnitySDK2/Assets/OVR/Resources/OVRVisionGuideMessage.prefab
source/LeapUnitySDK2/Assets/OVR/Scenes/Cubes.unity
source/LeapUnitySDK2/Assets/OVR/Scenes/MultiCamera.unity
source/LeapUnitySDK2/Assets/OVR/Scripts/Util/OVRCrosshair.cs
source/LeapUnitySDK2/Assets/OVR/Scripts/Util/OVRGamepadController.cs
source/LeapUnitySDK2/Assets/OVR/Scripts/Util/OVRGridCube.cs
source/LeapUnitySDK2/Assets/OVR/Scripts/Util/OVRGUI.cs
source/LeapUnitySDK2/Assets/OVR/Scripts/Util/OVRMainMenu.cs
source/LeapUnitySDK2/Assets/OVR/Scripts/Util/OVRPlayerController.cs
source/LeapUnitySDK2/Assets/OVR/Scripts/Util/OVRScreenFade.cs
source/LeapUnitySDK2/Assets/OVR/Scripts/Util/OVRUGUI.cs
source/LeapUnitySDK2/Assets/OVR/Scripts/Util/OVRVisionGuide.cs
source/LeapUnitySDK2/Assets/OVR/Scripts/OVRCameraRig.cs
source/LeapUnitySDK2/Assets/OVR/Scripts/OvrCapi.cs
source/LeapUnitySDK2/Assets/OVR/Scripts/OVRCommon.cs
source/LeapUnitySDK2/Assets/OVR/Scripts/OVRDisplay.cs
source/LeapUnitySDK2/Assets/OVR/Scripts/OVRManager.cs
source/LeapUnitySDK2/Assets/OVR/Scripts/OVRPluginEvent.cs
source/LeapUnitySDK2/Assets/OVR/Scripts/OVRTracker.cs
source/LeapUnitySDK2/Assets/OVR/Shaders/OVRGUIShader.shader
source/LeapUnitySDK2/Assets/OVR/Shaders/TextShader3D.shader
source/LeapUnitySDK2/Assets/OVR/Textures/Icons/OculusIcon.png
source/LeapUnitySDK2/Assets/OVR/Textures/Logos/OculusLogo.png
source/LeapUnitySDK2/Assets/OVR/Textures/Black.png
source/LeapUnitySDK2/Assets/OVR/Textures/CircleCrossHair.png
source/LeapUnitySDK2/Assets/OVR/Textures/Crosshair.tga
source/LeapUnitySDK2/Assets/OVR/Textures/Tuscany_OculusCube.tga
source/LeapUnitySDK2/Assets/OVR/Textures/UIBackground.psd
source/LeapUnitySDK2/obj/
source/LeapUnitySDK2/LeapUnitySDK2.userprefs
